SECRET_KEY='django-insecure-#zd522dfd9)ce1j4*-lj%t@r$syze#@+$(9j89td=@+t8d)!k+'
DEBUG='true'
AWS_S3_ACCESS_KEY_ID='AKIAIOSFODNN7EXAMPLE'
AWS_S3_SECRET_ACCESS_KEY='wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY'
AWS_STORAGE_BUCKET_NAME='get-this-from-jon'
AWS_S3_REGION_NAME='us-east-1'
